body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(61, 6, 214);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #080707;
    color: rgb(10, 219, 38);
}

main {
    clear: both;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: rgb(12, 228, 48);
}
